{% load static %}
<html lang="en">
<head>
<title>Twelve Tables</title>
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'hm/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- Top Background Image Wrapper -->
<div style="background-image:url({% static 'hm/images/demo/backgrounds/food8.jpg' %});">
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
        <div id="logo" class="fl_left">
          <h1 style="text-transform: none; color: aliceblue;"><a href="/">Twelve Tables</a></h1>
        </div>
          <nav id="mainav" class="fl_right">
              <ul class="clear"  style="text-transform: none; font-size: medium; font-weight:600; color: aliceblue;">
                {% if user.is_authenticated and  itc > 0 %}
                    <li class="active" ><a href="/">Home</a></li>
                    <li><a class="active" href="{% url 'cart_details' %}">Cart&nbsp;{{itc}}</a></li>
                    <li>Welcome, <b style="font-size: x-large; text-transform: none; color:orangered" >{{user}}</b></li>
                    <li><a class="active" href="{% url 'logout' %}">Logout</a></li>
                      {% elif user.is_authenticated %}
                      <li class="active"><a href="/">Home</a></li>
                      <li><a class="active" href="{% url 'cart_details' %}">Cart&nbsp;</a></li>
                      <li>Welcome&nbsp;<b style="font-size:larger; color: orangered;">{{user}}!</b></li>
                      <li><a class="active" href="{% url 'logout' %}">Logout</a></li>
                  {% else  %}
                  <li class="active"><a href="/">Home</a></li>
                  <li><a class="active" href="{% url 'login' %}">Login</a></li>
                  <li><a class="active" href="{% url 'cart_details' %}">Cart&nbsp;{{itc}}</a></li>
                {% endif %}
              </ul>
          </nav>
      </header>
  </div>
</div>
  {% block content %}
    
  {% endblock %}
</body>
</html>